* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  font-family: 'Forum', cursive;
  color: #F1F7ED;
  background: url(imgs/Blood-Mary.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.first-page {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 70%;
  max-width: 1500px;
  height: 70%;
}

#title {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 6rem;
  text-align: center;
  transition-property: all;
  transition-duration: 3s;
}

#title:hover {
  top: -2%;
  font-size: 7rem;
  color: crimson;
}

#img-div {
  display: block;
  position: relative;
  margin:  auto;
  height: 100vh;
  overflow: hidden;
}

#img {
  display: block;
  min-width: 100%;
  height: 100vh;
  object-fit: cover;
}

#tribute-info {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 4rem;
  text-align: center;
  transition-property: all;
  transition-duration: 3s;
}

#tribute-info:hover{
  top: 30%;
  color: crimson;
}

#tribute-info h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

#tribute-info li {
  list-style: none;
  line-height: 1.4;
  font-size: 1.2rem;
}

#img-caption {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
  text-align: center;
  transition-property: all;
  transition-duration: 3s;
}

#img-caption:hover {
  bottom: 48%;
  font-size: 2.5rem;
}

#tribute-link {
  display: block;
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  color: #F1F7ED;
  transition-property: all;
  transition-duration: 3s;
}

#tribute-link img {
  width: 8rem;
}

#tribute-link:hover {
  transform: translateY(-10px);
  font-size: 2.5rem;
  color: crimson;
}

/* Media */

@media (min-width: 1700px) {
  * {
    font-size: 22px;
  }
}

@media (max-width: 1350px) {
  #img-caption {
    font-size: 1.5rem;
  }

  #img-caption:hover {
    font-size: 1.8rem;
  }
}

@media (max-width: 950px) {
   #title {
    font-size: 4rem;
  }

  #title:hover {
    font-size: 5rem;
  }

  #tribute-info:hover {
    top: 20%;
  }

  #img-caption {
    padding: 0;
    font-size: 1rem;
  }

  #img-caption:hover {
    font-size: 1.2rem;
  }

  #tribute-link img {
    width: 4rem;
  }

  #tribute-link {
    font-size: 1rem;
  }

  #tribute-link:hover{
    font-size: 1.1rem;
  }
}

@media (max-width: 780px) {
  #img-caption:hover {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  * {
    font-size: 10px;
  }

  .first-page {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #title:hover {
    top: 5%;
    font-size: 4rem;
  }

  #img {
    position: absolute;
    left: -300px;
  }
}
