* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  background-color: #960200;
}

#main {
  width: 100%;
  height: 100vh;
  margin-bottom: -2px;
  color: #D9CAB3;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
  font-family: 'Forum', cursive;
  font-size: 1.5em;
}

#title {
  width: 100%;
  text-align: center;
  font-family: 'Knewave', cursive;
  font-size: 5em;
}

#img-div {
  display: block;
  position: relative;
  margin:  auto;
}

#img {
  display: block;
  width:100%;
}

#tribute-info {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

#tribute-info h2 {
  text-transform: uppercase;
}

#img-caption {
  position: absolute;
  bottom: 0.5em;
  left: 0;
  right: 0;
  font-family: 'Reenie Beanie', cursive; 
  text-align: center;
  font-size: 1.5em;
}

#tribute-link {
  display: block;
  position: fixed;
  top: 50%;
  right: 2em;
  text-decoration: none;
  text-align: center;
  color:#D9CAB3;
  font-family: 'Knewave', cursive;
}

#tribute-link img {
  width: 3em;
}

#tribute-link:hover {
  transform: translateY(-3px);
  
}
/*  Fonts
font-family: 'Forum', cursive;
font-family: 'Knewave', cursive;
font-family: 'Reenie Beanie', cursive; 
*/