* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  font-family: 'Forum', cursive;
  color: #F1F7ED;
  background: url(imgs/Blood-Mary.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.first-page {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 70%;
  max-width: 1500px;
  height: 70%;
}

#title {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 6rem;
  text-align: center;
  transition-property: all;
  transition-duration: 3s;
}

#title:hover {
  top: -2%;
  font-size: 7rem;
  color: crimson;
}

#img-div {
  display: block;
  position: relative;
  margin:  auto;
  height: 100vh;
  overflow: hidden;
}

#img {
  display: block;
  min-width: 100%;
  object-fit: cover;
  height: 100vh;
}

#tribute-info {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 4rem;
  text-align: center;
  transition-property: all;
  transition-duration: 3s;
}

#tribute-info:hover{
  top: 30%;
  color: crimson;
}

#tribute-info h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

#tribute-info li {
  list-style: none;
  line-height: 1.4;
  font-size: 1.2rem;
}

#img-caption {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
  text-align: center;
  transition-property: all;
  transition-duration: 3s;
}

#img-caption:hover {
  bottom: 48%;
  font-size: 2.5rem;
}

#tribute-link {
  display: block;
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  color: #F1F7ED;
  transition-property: all;
  transition-duration: 3s;
}

#tribute-link img {
  width: 8rem;
}

#tribute-link:hover {
  transform: translateY(-10px);
  font-size: 2.5rem;
  color: crimson;
}

/* Media */

/* @media (max-height: 850px) {
  * {
  font-size: 13px;
  }

  #tribute-info li {
    font-size: 1.5rem;
  }
}

@media (max-height: 600px) {
  * {
  font-size: 13px;
  }

  #tribute-info li {
    font-size: 1rem;
  }
}

@media (max-height: 455px) {
  #tribute-link {
    font-size: 1rem;
  }

  #title {
    font-size: 3rem;
  }

  #tribute-info {
    font-size: 3rem;
    text-align: center;
  }
  
  #tribute-info h2 {
    font-size: 2rem;
  }

  #tribute-info li {
    line-height: 1;
  }
}

@media (min-width: 1450px) {
  #tribute-link {
  bottom: 3rem;
  left: 12rem;
  }

  * {
    font-size: 16px;
    }
}

@media (max-width: 500px) {
  #main {
    background-position-x: 70%;
  }

  #img {
    position: absolute;
    left: -70%;
   }
  
  #tribute-link img {
    width: 4rem;
  }
}

@media (max-width: 370px) {
  * {
  font-size: 12px;
  }

  #img {
    position: absolute;
    left: -80%;
   }
} */
